
@import '../../assets/styles/vars';

.order-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-empty-text {
  margin: 50px 0 12px;
  font-weight: bold;
  font-size: 14px;
}

.order-empty-link {
  color: $primary;
  font-weight: bold;
  font-size: 18px;
}

.order-summary {
  max-width: 750px;
  margin: auto;
}

.order-summary-item {
  padding: 20px 10px;
  border-bottom: 1px dashed gray;
}

.button-summary {
  margin: 50px auto 20px;
  display: flex;
}

