@import '../../assets/styles/vars';

.genre-list {
  display: flex;
  flex-wrap: wrap;
}

.genre-item {
  flex: 1 1 auto;
  width: 100%;
}

@media #{$tablet} {
  .genre-list {
    margin: 0 -10px;
  }
 .genre-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
 .genre-item {
    max-width: 25%;
  } 
}
