@import '../../../assets/styles/vars';

  .order-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .order-item-handler {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .order-item-amount-value {
    font-size: 22px;
    padding: 10px;
  }

  
  .order-item-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .button-amount,
  .button-trash {
    width: 34px;
    height: 34px;
    padding: 0;
  }
  .button-trash {
    margin-left: 30px;
  }

  .button-amount {
    font-size: 22px;
  }

  .order-item-amount-wrapper {
    margin-right: auto;
  }

  .button-trash-icon {
    font-size: 22px;
  }
  
@media #{$tablet} {
  .order-item {
    flex-direction: row;
  }
}
