@import '../../../assets/styles/vars';

.card-detail {
  box-shadow: 0px 6px 10px -1px rgba($box-shadow, 0.55);
  border: 1px solid $grey-light;
  padding: 30px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
  color: $black;
  line-height: 1.4;
}

.card-information {
  font-size: 14px;
  color: $grey-font;
}

.card-information-overview {
  margin-bottom: 20px;
  &>*{
    font-size: 14px;
    line-height: 1.4;
  }
}

.button-group {
  display: flex;
  justify-content: center;
}

.card-information-rate {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.card-information-rate-icon {
  color: orange;
  font-size: 18px;
  margin-right: 6px;
}

.card-information-rate-value {
  font-size: 16px;
  margin-top: 2px;
}

.card-information-section {
  font-size: 14px;
  margin: 20px 0;
  color: $black;
  line-height: 1.4;
}

.card-information-related-title {
  font-weight: bold;
}

.card-information-related-content {
  font-style: italic;
}
