@import '../../../assets/styles/vars';

.card-resume {
  box-shadow: 0px 6px 10px -1px rgba($box-shadow, 0.55);
  border: 1px solid $grey-light;
  padding: 30px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
  color: $black;
  line-height: 1.4;
}

.card-information {
  font-size: 14px;
  color: $grey-font;
  height: 260px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFFDE 57%, #FFFFFF 100%);
  }
}

.card-information-overview {
  margin-bottom: 20px;
  &>*{
    font-size: 14px;
    line-height: 1.4;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  .button:not(:last-child) {
    margin-bottom: 14px;
  }
}

.card-information-rate {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.card-information-rate-icon {
  color: orange;
  font-size: 18px;
  margin-right: 6px;
}

.card-information-rate-value {
  font-size: 16px;
  margin-top: 2px;
}

.card-information-categories {
  font-size: 14px;
  margin: 20px 0;
  color: $black;
  line-height: 1.4;
  height: 36px;
}

.card-information-categories-title {
  font-weight: bold;
}

.card-information-category {
  font-style: italic;
}
