@import '../../../assets/styles/vars';

.burguer-button {
  zoom: 0.5;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: $white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}


.navigation-links-wrapper {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background: $gray-header;
  padding: 40px 0;
  transform: translate(-100%);
  opacity: 0;
  transition: opacity 0.2s, transform 0.5s;
}

.navigation-links {
  margin: 0 10px;
}

.navigation-item {
  margin-bottom: 20px;
}

.navigation-link {
  color: $white;
  text-decoration: none;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: darken($gray-header, 5%);
  padding: 0 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.navigation-link-active {
  &:before {
    content: '';
    height: 100%;
    width: 4px;
    background-color: $primary;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.navigation-active {
  .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .navigation-links-wrapper {
    transform: translate(0);
    opacity: 1;
  }
}

@media #{$tablet} {
  .navigation-links-wrapper {
    width: 350px;
    transform: translate(-350px);
  }
}

@media #{$laptop} {
  .burguer-button {
    display: none;
  }
  .navigation-links-wrapper {
    position: static;
    background: transparent;
    left: initial;
    top: initial;
    padding: 0;
    width: auto;
    transform: initial;
    height: auto;
    opacity: 1;
  }
  .navigation-item {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .navigation-links {
    display: flex;
  }
  .navigation-link {
    background-color: transparent;
    border-radius: 0;
  }
  .navigation-link-active {
    position: relative;
    &:before {
      content: '';
      height: 4px;
      width: 100%;
      top: initial;
      left: 0;
      bottom: 0;
    }
  }
  .navigation-links-wrapper {
    .wrapper {
      padding: 0;
    }
  }
}
