@import '../../assets/styles/vars';

.genres-list {
  display: flex;
  flex-wrap: wrap;
}

.genres-item {
  flex: 1 1 auto;
  margin-bottom: 20px;
  width: 100%;
}

.section-category {
  background-color: #f9f9f9;
}

.searched-list {
  display: flex;
  flex-wrap: wrap;
}

.searched-item {
  flex: 1 1 auto;
  width: 100%;
}

.searched-results-title {
  display: block;
  margin: 30px 0 10px;
  font-size: 18px;
}

@media #{$tablet} {
  .genres-list {
    margin: 0 -20px;
  }
  .genres-item {
    max-width: 50%;
    padding: 0 20px;
  }
  .searched-list {
    margin: 0 -10px;
  }
  .searched-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
  .genres-item {
    max-width: 25%;
    padding: 0 20px;
  }
  .searched-item {
    max-width: 25%;
  } 
}
