@import '../../../assets/styles/vars';

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: $gray-header;
}

.header-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
}

.navigation {
  margin-right: auto;
}

.order-link {
  text-decoration: none;
  position: relative;
}
.order-icon {
  font-size: 40px;
  color: white;
}
.cart-order-size {
  background-color: $primary;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
