@import '../../assets/styles/vars';

.section-introduction {
  padding: 0;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
}

.popular-item {
  flex: 1 1 auto;
  width: 100%;
}

@media #{$tablet} {
  .popular-list {
    margin: 0 -10px;
  }
 .popular-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
 .popular-item {
    max-width: 25%;
  } 
}
