@import '../../../assets/styles/vars';

.breadcrumb {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  color: $primary;
  &:before {
    display: none;
  }
}

.breadcrumb-list {
  display: flex;
}

a.breadcrumb-item {
  color: $primary;
}

.breadcrumb-item {
  color: #999;
}

i.breadcrumb-icon {
  font-size: 14px;
  margin-top: 3px;
}

.breadcrumb-separator {
  margin: 0 1px 0 2px;
}
@media #{$tablet} {
  .breadcrumb {
    margin-top: 0;
    margin-left: auto;
    font-size: 14px;
  }
}
