@import '../../../assets/styles/vars';

.carousel-slider {
  background-size: cover;
  height: 450px;
  .control-dots {
    position: absolute;
    bottom: 50px;
    .dot {
      opacity: 1;
      width: 12px;
      height: 12px;
    }
  }
  .control-dots .selected {
    background-color: $primary !important;
  }
  
}

.carousel-slide-1 {
  background-image: url('../../../assets/img/star1.webp');
}

.carousel-slide-2 {
  background-image: url('../../../assets/img/star2.webp');
}

.carousel-slide-3 {
  background-image: url('../../../assets/img/star3.webp');
}
