@import '../../../assets/styles/vars';

.footer {
  background-color: $gray-footer;
  color: $white;
  padding: 30px 0;
  min-height: 134px;
  position: relative;
  &:after {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -4px;
    background-color: $primary;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 26px;
  margin-bottom: 18px;
  position: relative;
  &::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #545252;
    width: 200px;

  }
}
.footer-copyright-title {
  line-height: 1.4;
  margin-bottom: 6px;
  font-weight: 700;
}
.footer-copyright-author {
  font-size: 12px;
  color: $grey;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 8px;
}
.footer-media {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.footer-media-links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-media-link {
  margin: 0 10px;
  a {
    width: 34px;
    height: 34px;
    background-color: #33383b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  i {
    font-size: 20px;
    color: white;
  }
}

.footer-media-icon {
  color: white;
  font-size: 22px;
}

@media #{$laptop} {
  .footer-content {
    flex-direction: row;
  }
  .footer-copyright,
  .footer-media {
    flex: 1 1 auto;
  }
  .footer-copyright {
    margin: 0;
    padding: 0;
    align-items: self-start;
    margin-right: 40px;
    &:after {
      display: none;
    }
  }
  .footer-media-title {
    font-size: 16px;
  }
  .footer-media {
    text-align: left;
  }
  .footer-media-links {
    justify-content: flex-start;
  }
  .footer-media-link {
    margin-left: 0;
    margin-right: 14px;
  }
}
